<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link the CSS file used to style this page. -->
    <link rel="stylesheet" href="/assests/another_design.css">
    <title>Design</title>
</head>
<body>
    <!-- This is the visible content shown on the homepage. -->
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati repellat minima iusto libero ipsum unde eveniet quis et.
</body>
</html>