<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request.args</title>
    <style> 
        body{
            color:rgb(129, 8, 8);
            background-color: antiquewhite;
        }
        h1{
            justify-content: center;
            display: flex;
        }
        p{
            justify-content: center;
            display: flex;
        }
    </style>
</head>
<body>
    <h1>Hey,Welcome Back {{name}}</h1>
    <p>You have {{Bank_balance}} ruppees in your account</p>
</body>
</html>